<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- Interpolation des strings -->
  <h1>
    Interpolation des strings
    {{title + '1'}}
    <hr>
    {{nombre + 2 }}
    <hr>
    {{bool}}
    <hr>
    {{obj.cle}}
    <hr>
    {{square(2)}}
  </h1>

  <!-- liaison des propriétés-->
  <h2>
    Liaison des propriétés
    <hr>
    <input [type]="date" [disabled]="btnEnabled"/>
  </h2>

  <!-- liaison des propriétés-->
  <h3>
    Liaison des évènements
<div
  style="width:200px;height:200px;"
  [style.backgroundColor]="color"
  (click)="changeColor('green')"
  (mouseenter)="changeColor('blue')"
  (mouseleave)="changeColor('red')"
>
</div>
</h3>

<!-- double data-binding -->
<h4>
    double data-binding
    <input type="text" [(ngModel)]="content">
    <p> {{content}} </p>
</h4>

<!-- Les directives -->
<h5>
    Les directives structurelles
    <button (click)="display = !display" >Button</button>
    <p *ngIf="display"> Bonjour </p>
</h5>

<h5>
  Les directives d'attributs [ngStyle]
  <div  [ngStyle]="{
width:'200px',
height:'200px',
backgroundColor: color
  }">
  </div>
</h5>

<h5>
  Les directives d'attributs [ngClass]
  <input type="text" [(ngModel)]="color2" />
  <div  [ngClass]="{
    bluesquare:color2==='blue',
    redsquare:color2==='red'
  }">
  </div>
</h5>

<h5>
  Les directives structurelles [ngFor]
  <ul>
    <li *ngFor="let user of users; let i = index;">{{i}} {{user.nom}}</li>
  </ul>>
</h5>
</div>
  <app-nouveau></app-nouveau>

